.admin-body {
    background-color: #f8f9fa;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    display: none; /* Oculto inicialmente */
}

#sidebar .nav-link {
    font-weight: 500;
    color: #adb5bd;
    padding: 0.75rem 1rem;
    margin-bottom: 0.2rem;
    border-radius: 0.25rem;
}

#sidebar .nav-link:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

#sidebar .nav-link.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

#loginSection {
    margin-top: 5rem;
}

.table-responsive {
    border-radius: 0.25rem;
    overflow: hidden;
}

.table thead th {
    background-color: #343a40;
    color: white;
    border-bottom: none;
}

#logoutButton {
    transition: all 0.3s;
}

#logoutButton:hover {
    transform: scale(1.05);
}

@media (max-width: 767.98px) {
    #sidebar {
        position: static;
        height: auto;
        padding-top: 0;
    }
    
    #loginSection {
        margin-top: 2rem;
    }
}

.grafico-container {
  width: 200px;   /* o el tamaño que necesites */
  height: 100px;
  position: relative;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
